<div class="ressources-container">
    <div class="top"><!--changer nom class-->
        <section class="text-rsc">
            <h1 class="page-title">Ressources</h1>
            <p class="explain-page">Here is a page where you can find multiple other ressources ... </p>
        </section>
        <section class="rsc-content">
            <div class="grid-links-container grid">
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
                <div class="grid-content content"><!--ngfor-->
                    <app-ressource-card></app-ressource-card>
                </div>
            </div>
            
        </section>
    </div>
    
</div>
