<div class="detail-container deep-grey-bckg">
    <div class="detail-holder">
        <div class="title-container">
            <span class="title-picture text-withe">Comet Neowise (2020)</span>
        </div>
        <div class="picture-container container-margin">

        </div>
        <div class="picture-info-container container-margin">
            <div class="grid-container">
                <!--créer un composant "sheet"-->
                <app-technical-sheet class="tech-gris-pos"></app-technical-sheet>
                <app-object-sheet class="obj-grid-pos"></app-object-sheet>
                <app-description-sheet class="descpt-grid-pos"></app-description-sheet>
            </div>
            
        </div>
    </div>
</div>