<div class="detail-container deep-grey-bckg">
    <div class="detail-holder">
        <div class="title-container">
            <span class="title-picture text-withe">Generic Title</span>
        </div>
        <div class="picture-container container-margin">
            <img src="/assets/ressources/imgs/49773507818_900c2f16df_k.jpg">
            <div class="picture-inside deep-dark-low-transp-bckg">
                <div class="picture-icons-container">
                    
                </div>
            </div>
        </div>
        <div class="picture-info-container container-margin">
            <div class="grid-container">
                <app-technical-sheet class="tech-grid-pos"></app-technical-sheet>
                <app-object-sheet class="obj-grid-pos"></app-object-sheet>
                <app-description-sheet class="descpt-grid-pos"></app-description-sheet>
            </div>
            
        </div>
    </div>
</div>