<nav class="nav-container">
    <div class="nav-brand">
        <a></a> <!--Logo-->
    </div>
    <ul class="nav-menu">
        <li class="nav-header" *ngFor="let link of navlinks" (click)="onLinkClick(link.link)">
            <a class="nav-header-title">{{link.label}}</a>
            <div class="dropdown-container" *ngIf="link.hasOwnProperty('droplinks')">
                <dropdown-menu [dropnavLinks]="link.droplinks"></dropdown-menu>
            </div>
        </li>
    </ul>    
    
    <div class="nav-social-container">
        <ul class="nav-social-icons">
            <a></a> <!--media icons-->
        </ul>
    </div>
</nav>
