<div class="techn-sht-container grey-bckg padding-sheet border-sheet">
    <div class="title-sheet">
        <span class="title text-withe bottom-border-withe">Technical sheet</span>
    </div>
    <div class="content-sheet">
        <div class="section gear-section">
            <ul class="content-list">
                <li class="content-line">
                    <label class="h-cont m-txt text-withe">Telescope:</label>
                    <label class="m-cont m-txt text-withe"><i>SW 200/1000 F5</i></label>
                </li>
                <li class="content-line">
                    <label class="h-cont m-txt text-withe">Mount:</label>
                    <label class="m-cont m-txt text-withe"><i>IOptron cem60-ec</i></label>
                </li>
                <li class="content-line">
                    <label class="h-cont m-txt text-withe">Camera:</label>
                    <label class="m-cont m-txt text-withe"><i>Canon eos 700d</i></label>
                </li>
                <li class="content-line">
                    <label class="h-cont m-txt text-withe"></label>
                    <label class="m-cont m-txt text-withe"><i></i></label>
                </li>
            </ul>
        </div>
        <div class="section img-spec-section">
            <ul class="content-list internal-list">
                <li class="content-line mult-lines">
                    <label class="h-cont m-txt text-withe">Integration:</label>
                    <ul class="sub-list">
                        <li class="text-withe sub-content-line"><label class="sub-h-cont">Total:</label><label class="sub-m-cont"><i>10H53m</i></label></li>                         
                        <div><!--If mono-->
                            <li class="text-withe sub-content-line"><label class="sub-h-cont">L:</label><label class="sub-m-cont"><i>4H</i></label></li>
                            <li class="text-withe sub-content-line"><label class="sub-h-cont">R:</label><label class="sub-m-cont"><i>2H</i></label></li>
                            <li class="text-withe sub-content-line"><label class="sub-h-cont">G:</label><label class="sub-m-cont"><i>2H</i></label></li>
                            <li class="text-withe sub-content-line"><label class="sub-h-cont">B:</label><label class="sub-m-cont"><i>2H</i></label></li>
                            <li class="text-withe sub-content-line"><label class="sub-h-cont">Ha:</label><label class="sub-m-cont"><i>5H</i></label></li>
                        </div>
                        
                    </ul>
                </li>
                <li class="content-line">
                    <label>TEST</label>
                    <label><i></i></label>
                </li>
                <li class="content-line">
                    <label>TEST</label>
                    <label><i></i></label>
                </li>
            </ul>
        </div>
        
    </div>
</div>
