div.footer-container{
    width: 100%;
    
    background-color: rgb(15, 15, 15);

    border-top: .01rem solid #fff;

    display: flex;
    flex-direction: column;

    div.footer-content{
        //min-height: 5rem;

        div.col-container{
            display: flex;
            flex-direction: row;
            
            justify-content: space-around;



        }

    }

    div.contact-container{

        div.email-container{
            div.email-h{
                
            }

            div.email-c{

            } 
        }

        
    }

    div.copyrights-container{
        width: 100%;
        height: 2rem;
        background-color: rgb(0, 0, 0);

        border-top: 2px solid #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        span.copyrights{
            
        }
    }
    
}

span.col-title{
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 16px;
    //font-style: bold; 
}   

div{

    .col{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: .5rem;

        div.col-cont{
            margin-top: 1rem;
        }
    }

    .col-w{
        width: 15rem;
        //background-color: rgb(223, 57, 57);
    }

}

    