<div class="footer-container">
    <div class="footer-content">
        <div class="col-container">
            <div class="about-container col col-w">
                <span class="text-withe col-title">About this web site</span>
                <div class="col-cont">
                   <p class="text-withe about-txt s-txt">
                        orem ipsum dolor sit amet, <br/>
                        consectetur adipiscing elit. <br/>
                        Nam id nunc lorem. <br/>
                        Phasellus pharetra lacinia cursus. <br/>
                        Nam id nunc lorem. 
                    </p> 
                </div>
                
            </div>
            <div class="contact-container col col-w">
                <span class="text-withe col-title">Contact me</span>
                <div class="col-cont">
                    <div class="email-container">
                        <span class="contact-h s-txt text-withe">Email: </span>
                        <span class="contact-cont s-txt text-withe">email@example.com</span>
                    </div> 
                </div>    
            </div>
            <div class="socials-container col col-w">
                <span class="text-withe col-title">Networks</span>
                <div class="col-cont">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights-container">
        <span class="copyrights text-withe">©2021 - Deep Sky Encounter</span>
    </div>
</div>
