.midnight_blue_bckg{
    background-color: rgb(#001F3D);
}

.dark_blue_bckg{
    background-color: rgb(#151983);
}

.royal_blue_bckg{
    background-color: rgb(#1863D6);
}

.baby_blue_bckg{
    background-color: rgb(#B6CBE1);
}