<div id="pictures-container">
    <div class="row-pictures-container rnd-shift">
        <app-gallery-card></app-gallery-card>
        <app-gallery-card></app-gallery-card>
        <app-gallery-card></app-gallery-card>
    </div>
    <!-- <div class="row-pictures-container rnd-shift">
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
    </div>
    <div class="row-pictures-container rnd-shift">
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
    </div>
    <div class="row-pictures-container rnd-shift">
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
    </div>
    <div class="row-pictures-container rnd-shift">
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
    </div>
    <div class="row-pictures-container rnd-shift">
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
        <app-picture-card></app-picture-card>
    </div> -->
</div>
