
#pictures-container{
    margin-top: 5rem;
    padding-bottom: 5rem;
    z-index: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;

    div.row-pictures-container{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        justify-content: space-around;
    }

    div.rnd-shift{
        //margin-left: random(4)+rem;//min -2 max 4 ?
    }
}