<div class="tools-container">
    <ul class="tools-list rich_black_bckg">
        <li class="tool-item ripple-effect" *ngFor="let tool of toolsList" (click)="onToolClick(tool.link)">
            <div pRipple class="tool oxford_blue_bckg">
                <div class="icon-container">
                    <fa-icon [icon]="['fas', tool.faIcon]" [classes]="['fa-withe']" size="3x"></fa-icon>
                    <!--<fa-icon [icon]="faCalculator" size="3x"></fa-icon>-->
                </div>
                <span class="tool-title s-txt text-withe">{{ tool.toolName }}</span>
            </div>
        </li>
    </ul>
    <div class="tool-selected-container bdazzled_blue_bckg">
        <router-outlet></router-outlet>
    </div>
</div>
