<div class="homepage-container">
    <div class="welcome-page-img">
        <div class="top-img">
            <div class="top-div">
                <div class="welcomepage-header-container">
                    <div class="l-border">
                        <div class="welcomepage-title">
                            <h2 class="title">Deep Sky Encounter</h2>
                        </div>
                        <div class="welcomepage-jobs">
                            <h4>Astronomy & Astrophotography</h4>
                        </div>
                    </div>                    
                </div>
                <div class="welcomepage-description">
                    <p class="description">
                        "Lorem ipsum dolor sit amet,<br>
                        consectetur adipiscing elit. <br>
                        Proin volutpat dolor et ante sollicitudin,<br> 
                        eu laoreet ipsum interdum." 
                    </p>
                </div> 
                <div class="welcomepage-socialicons">
                    <div class="w-social-icon">

                    </div>
                    <div class="w-social-icon">

                    </div>
                    <div class="w-social-icon">
                        
                    </div>
                </div>       
            </div> 
        </div>
          
                  
    </div>
</div>
