div.home-content-container{
    height: 75rem;
    //background-color: #0F1329;
    background-image: url("/assets/ressources/imgs/kurzgesagt_style.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    
    section.welcome-section{
        
    }

    section.explanation-section{

    }
}