<div class="obj-info-container grey-bckg padding-sheet border-sheet">
    <div class="title-sheet">
        <span class="title text-withe bottom-border-withe">Object specifications:</span>
    </div>
    <div class="content-sheet">
        <ul class="content-list">
            <li class="content-line">
                <label class="h-cont m-txt text-withe">Name:</label>
                <label class="m-cont m-txt text-withe"><i>C/2020 Y4 Atlas</i></label>
            </li>
            <li class="content-line">
                <label class="h-cont m-txt text-withe">Constellation:</label>
                <label class="m-cont m-txt text-withe"><i>/</i></label>
            </li>
            <li class="content-line">
                <label class="h-cont m-txt text-withe">Designations:</label>
                <span class="m-cont m-txt text-withe"><!--icon dropdown--></span>
            </li>
            <li class="content-line">
                <label class="h-cont m-txt text-withe">Type:</label>
                <label class="m-cont m-txt text-withe"><i>Nebula</i></label>
            </li>
            <li class="content-line">
                <label class="h-cont m-txt text-withe">Coordinates:</label> 
                <ul class="m-cont coord-list">
                    <li><label class="m-txt text-withe"><i>-RA: <label class="s-txt">00h 42m 44.330s</label></i></label></li>
                    <li><label class="m-txt text-withe"><i>-DEC: <label class="s-txt">41° 16' 7.50"</label></i></label></li>
                </ul>
                    
            </li>
            <li class="content-line">
                <label class="h-cont m-txt text-withe">Magnitude:</label>
                <label class="m-cont m-txt text-withe"><i>12</i></label>
            </li>   
            <li class="content-line">
                <label class="h-cont m-txt text-withe">Distance:</label>
                <label class="m-cont m-txt text-withe"><i>~4000Ly</i></label>
            </li>
        </ul>

        
    </div>
    <div>
        <!--Constellation view-->
    </div>
</div>
