div.obj-info-container{
    //height: 7rem;

    div.title-sheet{        
        
        .title{
            display: block;
            width: 100%;
            padding-bottom: .75rem;
            font-size: 18px;
            letter-spacing: 1px;
        }
    }

    div.content-sheet{
        margin-top: .5rem;

        ul.content-list{
           list-style-type: none; 
           
           li{
                margin: .7rem 0;
                display: flex;
                letter-spacing: 1px;
                .h-cont{
                    min-width: 40%;
                }

                .m-cont{
                    
                }
           }

           ul.coord-list{
               margin: 0;
               padding: 0;
           }
        }
    }
}

.padding-sheet{
    padding: 1rem 1rem;
}  

.border-sheet{
    border: .15rem solid rgb(163, 163, 163);
    border-radius: 15px;
}