body{
    margin: 0;
    padding: 0;
    background-color: rgb(92, 92, 92);
    font-family: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box; //n'inclut pas le padding des éléments dans le calcul
}

h1, h2, h3, h4, a, p{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}