.deep-dark-bckg{
    background-color: rgb(0, 0, 0);
}

.deep-grey-bckg{
    background-color: rgb(28, 31, 32);
}

.grey-bckg{
    background-color: rgb(60, 62, 63);
}

.withe-bckg{
    background-color: rgb(255, 255, 255);
}

.deep-dark-tansl-bckg{
    background-color: rgba(0, 0, 0, 0.8);
}