.deep-dark-bckg{
    background-color: rgb(0, 0, 0);
}

.deep-grey-bckg{
    background-color: rgb(28, 31, 32);
}

.grey-bckg{
    background-color: rgb(53, 55, 56);
}

.withe-bckg{
    background-color: rgb(255, 255, 255);
}

.withe-transp{
    background-color: rgba(255, 255, 255, 0.7);
}

.deep-dark-tansl-bckg{
    background-color: rgba(0, 0, 0, 0.8);
}

.deep-dark-low-transp-bckg{
    background-color: rgba(0, 0, 0, 0.4);
}