<div class="scroller">
    <ul class="equipment-list-container">
        <li *ngFor="let e of equipmentList" class="equipment-item deep-dark-tansl-bckg">
            <div class="icon-container">
                <div class="img-test"></div>
            </div>
            <div class="list-content">
                <label class="equipment-type text-withe">{{ e.equipType }}</label>
                <label class="equipment-name text-withe">{{ e.equipName }}</label>
            </div>
            
        </li>
    </ul>
</div>

