<div class="card-container">
    <div class="picture-container">
        <!--<img></img>-->
        <div class="title-container">
            <span class="title-picture">Titre de l'image</span>
            <div class="info-container">
                <!--<span><fa-icon [icon]="['fas', 'faEye']"></fa-icon></span>-->
                <span class=" icon-container viewers"><fa-icon class="icon" [icon]="['fas', 'thumbs-up']"></fa-icon>395</span>
                <span class=" icon-container likes"><fa-icon class="icon" [icon]="['fas', 'eye']"></fa-icon>36</span>
                <!--<fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon>-->
                <!-- *ngIf has_astrometry <span><i></i></span>-->
            </div>
        </div>
        
    </div>
    
    
</div>
